* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .menuLateral-container {
  background-color: #040B14;
  width: 280px;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 20px;
  z-index: 998;
}
header .menuLateral-container .menuIMG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .menuLateral-container .menuIMG .imgContainer {
  width: 120px;
  height: 120px;
  border: 8px solid #292f37;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
header .menuLateral-container .menuIMG img {
  border-radius: 50%;
  position: absolute;
  right: 50%;
  height: 125px;
  transform: translateX(50%);
}
header .menuLateral-container .menuIMG span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
header .menuLateral-container .menuIcons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .menuLateral-container .menuIcons ul li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #292f37;
}
header .menuLateral-container .menuIcons ul li a {
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .menuLateral-container .menuIcons ul li a i {
  transition: all 0.3s;
  transform: scale(1);
}
header .menuLateral-container .menuIcons ul li a:hover > i {
  transform: scale(1.7);
  color: #fff;
}
header .menuLateral-container .menuIcons ul li:nth-child(1) a:hover {
  background-color: #fe3f31;
}
header .menuLateral-container .menuIcons ul li:nth-child(2) a:hover {
  background-color: #0865fe;
}
header .menuLateral-container .menuIcons ul li:nth-child(3) a:hover {
  background-color: #000;
}
header .menuLateral-container .menuIcons ul li:nth-child(4) a:hover {
  background-color: #0865fe;
}
header .menuLateral-container .menuLinks {
  padding-top: 40px;
  padding-left: 10px;
}
header .menuLateral-container .menuLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .menuLateral-container .menuLinks ul li {
  width: 100%;
  text-align: left;
  padding: 20px 0 0 10px;
}
header .menuLateral-container .menuLinks ul li a {
  font-size: 1.1rem;
  color: gray;
  position: relative;
}
header .menuLateral-container .menuLinks ul li a i {
  padding-right: 10px;
}
header .menuLateral-container .menuLinks ul li a:hover::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  right: 0px;
  border-radius: 10px;
}

.openClose {
  display: block;
}

@media (max-width: 960px) {
  header {
    display: none;
  }
}
.imgTopo {
  background-image: url("../img/informatica03.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: 50% 58%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.imgTopo .opac {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}
.imgTopo .titleTop {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.imgTopo h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000;
  opacity: 0.9;
}
.imgTopo span {
  color: #fff;
  text-shadow: 2px 4px 6px #000;
  font-size: 1.4rem;
  opacity: 0.5;
}
.imgTopo span i {
  color: #00c9d2;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .aboutInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.about .aboutInfo-container .about-col1 {
  flex: 0.5;
  padding-right: 35px;
}
.about .aboutInfo-container .about-col1 img {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.about .aboutInfo-container .about-col1 img:hover {
  transform: scale(1.05); /* aumenta um pouco a imagem */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra mais forte no hover */
}
.about .aboutInfo-container .about-col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .aboutInfo-container .about-col2 .listSobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .aboutInfo-container .about-col2 .listSobre ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.about .aboutInfo-container .about-col2 .listSobre ul li a {
  color: #040B14;
  font-size: 0.9rem;
}
.about .aboutInfo-container .about-col2 .listSobre ul li a i {
  padding-right: 10px;
  font-size: 1.5rem;
  color: #00c9d2;
}
.about .aboutInfo-container .about-col2 .listSobre ul li a strong {
  padding-right: 10px;
  font-weight: 500;
}
.about .aboutInfo-container .about-col2 .aboutText p {
  color: #292f37;
  font-size: 1rem;
  font-weight: 400;
}

.titleH2 {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titleH2 img {
  background-color: #dddddd;
  border-radius: 50%;
  width: 35px;
  margin-left: 7px;
  padding: 5px;
}

.container {
  max-width: 1400px;
  padding: 70px 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.title .titleSection {
  padding: 0 0 15px 0;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
  color: #040B14;
}
.title .subTitleSection {
  padding: 20px 0 70px 0;
  font-weight: 400;
  color: #292f37;
}

.titleSection::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #00c9d2;
  border-radius: 10px;
  bottom: 0px;
  left: 0px;
}

@media (min-width: 1600px) {
  .imgTopo .titleTop {
    left: 180px;
  }
  .imgTopo h1 {
    font-size: 3rem;
  }
  .container {
    max-width: 1600px;
    padding: 70px 150px;
  }
}
@media (max-width: 1300px) {
  .about .aboutInfo-container .about-col1 {
    padding-right: 30px;
  }
  .about .aboutInfo-container .about-col1 img {
    max-width: 100%;
  }
  .about .aboutInfo-container .about-col2 .aboutText p {
    font-size: 0.8rem;
  }
  .about .aboutInfo-container .about-col2 .listSobre ul li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 960px) {
  .imgTopo .titleTop {
    top: 85%;
    left: 25px;
  }
  .imgTopo h1 {
    font-size: 2rem;
  }
  .imgTopo span {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .about .aboutInfo-container {
    flex-direction: column;
    gap: 35px;
  }
  .about .aboutInfo-container .about-col2 .listSobre {
    flex-direction: row;
    align-items: flex-start;
  }
  .about .aboutInfo-container .about-col1 {
    padding-right: 0;
  }
  .portifolio .portifolio-container .port-titles {
    gap: 25px;
  }
}
@media (max-width: 540px) {
  .imgTopo .titleTop {
    top: 85%;
  }
  .imgTopo h1 {
    font-size: 1.5rem;
  }
  .imgTopo span {
    font-size: 0.9rem;
  }
  .about .aboutInfo-container {
    gap: 35px;
  }
  .about .aboutInfo-container .about-col2 .listSobre {
    flex-direction: column;
    align-items: flex-start;
  }
  .about .aboutInfo-container .about-col1 img {
    max-width: 100%;
  }
}
.skillsConatiner {
  background-color: #dddddd;
}
.skillsConatiner .accordion {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
.skillsConatiner .accordion .accordion-item {
  border: 1px solid #ccc;
}
.skillsConatiner .accordion .accordion-item .accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #040B14;
  font-size: 1rem;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}
.skillsConatiner .accordion .accordion-item .accordion-header:hover {
  background-color: #e0e0e0;
}
.skillsConatiner .accordion .accordion-item .accordion-header i {
  color: #00c9d2;
}
.skillsConatiner .accordion .accordion-item .accordion-header i.animation {
  animation-name: load;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.skillsConatiner .accordion .accordion-item .accordion-content {
  padding: 5px 13px;
  display: none;
  background-color: #fff;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container {
  margin: 2px 0;
  position: relative;
  padding: 5px;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load-text {
  position: absolute;
  top: 5px;
  right: 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load-text span {
  font-size: 0.8rem;
  color: #040B14;
  font-weight: 500;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load {
  border: 1px solid #00c9d2;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  position: relative;
  margin: 20px 0;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .load-item {
  position: absolute;
  width: 95%;
  height: 100%;
  background-color: #00c9d2;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .css-item {
  width: 90%;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .js-item {
  width: 70%;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .jquery-item {
  width: 70%;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .boot-item {
  width: 85%;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .php-item {
  width: 70%;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container .load .mysql-item {
  width: 70%;
}
.skillsConatiner .accordion .accordion-item .accordion-content .load-container:hover {
  background-color: rgba(230, 230, 230, 0.397);
}
.skillsConatiner .accordion .accordion-item .accordion-content.show {
  display: block;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
.qualification-content {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  max-width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.qualification-content .qualification-titles {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 30px;
}
.qualification-content .qualification-titles span {
  font-size: 1.1rem;
  font-weight: 600;
  color: #040B14;
}
.qualification-content .qualification-titles span i {
  padding-right: 10px;
  font-size: 1.7rem;
  color: #dddddd;
}
.qualification-content .qualification-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: auto;
}
.qualification-content .qualification-data .qualification-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.qualification-content .qualification-data .qualification-text h3 {
  font-size: 0.9rem;
  color: #040B14;
  font-weight: 500;
}
.qualification-content .qualification-data .qualification-text span {
  font-size: 0.7rem;
  color: #9a9a9a;
  font-weight: 400;
}
.qualification-content .qualification-data .qualification-text span i {
  padding-right: 5px;
}
.qualification-content .qualification-data .qualification-quite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px 0 0;
}
.qualification-content .qualification-data .qualification-quite .qualification-circle {
  width: 15px;
  height: 15px;
  background-color: #00c9d2;
  border-radius: 50%;
}
.qualification-content .qualification-data .qualification-quite .qualification-line {
  width: 1.5px;
  height: 80px;
  background-color: #9a9a9a;
}
.qualification-content .qualification-data .qualification-white {
  flex: 1;
}

@media (max-width: 720px) {
  .qualification-content {
    width: 100%;
    padding-top: 50px;
  }
  .qualification-content .qualification-data .qualification-quite {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 576px) {
  .qualification-content .qualification-data .qualification-quite {
    margin: 0 20px;
  }
}
.portifolio-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.portifolio-container .port-titles {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
.portifolio-container .port-titles span a {
  font-size: 1rem;
}
.portifolio-container .link {
  color: #292f37;
  transition: 0.5s;
}
.portifolio-container .link:hover {
  color: #00c9d2;
}
.portifolio-container .port-galery-container {
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.portifolio-container .port-galery-container .galery-item {
  display: inline-block;
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.portifolio-container .port-galery-container .galery-item img {
  display: block;
  width: 100%;
}
.portifolio-container .port-galery-container .galery-item .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.769);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.portifolio-container .port-galery-container .galery-item .item-text span {
  color: #fff;
}
.portifolio-container .port-galery-container .galery-item .item-text span:first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 99;
}
.portifolio-container .port-galery-container .galery-item .item-text span:first-child a {
  color: #fff;
}
.portifolio-container .port-galery-container .galery-item .item-text span:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  z-index: 99;
}
.portifolio-container .port-galery-container .galery-item:hover .item-text {
  opacity: 1;
}

@media (max-width: 576px) {
  .portifolio-container .port-galery-container .galery-item {
    min-width: 330px;
    max-width: 330px;
  }
}
@media (max-width: 768px) {
  .portifolio-container .port-galery-container {
    justify-content: center;
  }
  .portifolio-container .port-galery-container .galery-item {
    min-width: 330px;
    max-width: 330px;
  }
}
@media (max-width: 992px) {
  .portifolio-container .port-galery-container {
    justify-content: center;
  }
  .portifolio-container .port-galery-container .galery-item {
    min-width: 300px;
    max-width: 400px;
    flex: 1;
  }
}
@media (min-width: 1600px) {
  .portifolio-container .port-galery-container .galery-item {
    min-width: 330px;
    max-width: 400px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", serif;
  background-color: #fff;
  font-style: normal;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1rem;
}

main {
  background-color: #fff;
  width: calc(100vw - 280px);
  margin-left: 280px;
  top: 0;
}

.containerGeral {
  display: flex;
  flex-direction: row;
}

.hamburguerMenu {
  display: none;
}

@media (max-width: 960px) {
  main {
    width: 100vw;
    margin-left: 0px;
  }
  .containerGeral .hamburguerMenu {
    position: fixed;
    top: 10px;
    right: 15px;
    color: #00c9d2;
    display: block;
    font-size: 1.8rem;
    z-index: 999;
  }
  .containerGeral .hamburguerMenu i {
    cursor: pointer;
  }
  .containerGeral .hamburguerMenu .fa-xmark {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #00c9d2;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(20, 157, 177, 0.532);
}/*# sourceMappingURL=style.css.map */