* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .menuLateral-container {
  background-color: #040B14;
  width: 280px;
  height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 20px;
  z-index: 998;
}
header .menuLateral-container .menuIMG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .menuLateral-container .menuIMG .imgContainer {
  width: 120px;
  height: 120px;
  border: 8px solid #292f37;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
header .menuLateral-container .menuIMG img {
  border-radius: 50%;
  position: absolute;
  right: 50%;
  height: 125px;
  transform: translateX(50%);
}
header .menuLateral-container .menuIMG span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
header .menuLateral-container .menuIcons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .menuLateral-container .menuIcons ul li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #292f37;
}
header .menuLateral-container .menuIcons ul li a {
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .menuLateral-container .menuIcons ul li a i {
  transition: all 0.3s;
  transform: scale(1);
}
header .menuLateral-container .menuIcons ul li a:hover > i {
  transform: scale(1.7);
  color: #fff;
}
header .menuLateral-container .menuIcons ul li:nth-child(1) a:hover {
  background-color: #FE3F31;
}
header .menuLateral-container .menuIcons ul li:nth-child(2) a:hover {
  background-color: #0865FE;
}
header .menuLateral-container .menuIcons ul li:nth-child(3) a:hover {
  background-color: #000;
}
header .menuLateral-container .menuIcons ul li:nth-child(4) a:hover {
  background-color: #0865FE;
}
header .menuLateral-container .menuLinks {
  padding-top: 40px;
  padding-left: 10px;
}
header .menuLateral-container .menuLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .menuLateral-container .menuLinks ul li {
  width: 100%;
  text-align: left;
  padding: 20px 0 0 10px;
}
header .menuLateral-container .menuLinks ul li a {
  font-size: 1.1rem;
  color: gray;
  position: relative;
}
header .menuLateral-container .menuLinks ul li a i {
  padding-right: 10px;
}
header .menuLateral-container .menuLinks ul li a:hover::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  right: 0px;
  border-radius: 10px;
}

.openClose {
  display: block;
}

@media (max-width: 960px) {
  header {
    display: none;
  }
}
.imgTopo {
  background-image: url("../img/informatica03.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: 50% 58%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.imgTopo .opac {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}
.imgTopo .titleTop {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.imgTopo h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000;
  opacity: 0.9;
}
.imgTopo span {
  color: #fff;
  text-shadow: 2px 4px 6px #000;
  font-size: 1.4rem;
  opacity: 0.5;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .aboutInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.about .aboutInfo-container .about-col1 {
  flex: 0.5;
  padding-right: 35px;
}
.about .aboutInfo-container .about-col1 img {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.about .aboutInfo-container .about-col1 img:hover {
  transform: scale(1.05); /* aumenta um pouco a imagem */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra mais forte no hover */
}
.about .aboutInfo-container .about-col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .aboutInfo-container .about-col2 .listSobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.about .aboutInfo-container .about-col2 .listSobre ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.about .aboutInfo-container .about-col2 .listSobre ul li a {
  color: #040B14;
  font-size: 0.9rem;
}
.about .aboutInfo-container .about-col2 .listSobre ul li a i {
  padding-right: 10px;
  font-size: 1.5rem;
  color: #00c9d2;
}
.about .aboutInfo-container .about-col2 .listSobre ul li a strong {
  padding-right: 10px;
  font-weight: 500;
}
.about .aboutInfo-container .about-col2 .aboutText p {
  color: #292f37;
  font-size: 1rem;
  font-weight: 400;
}

.titleH2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.container {
  max-width: 1400px;
  padding: 70px 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.title .titleSection {
  padding: 0 0 15px 0;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
  color: #040B14;
}
.title .subTitleSection {
  padding: 20px 0 70px 0;
  font-weight: 400;
  color: #292f37;
}

.titleSection::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #00c9d2;
  border-radius: 10px;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 1300px) {
  .about .aboutInfo-container {
    flex-direction: column;
    gap: 80px;
  }
  .about .aboutInfo-container .about-col1 {
    padding-right: 0px;
  }
  .about .aboutInfo-container .about-col2 p {
    font-size: 1rem;
  }
  .about .aboutInfo-container .about-col2 .listSobre ul li a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1600px) {
  .imgTopo .titleTop {
    left: 180px;
  }
  .imgTopo h1 {
    font-size: 3rem;
  }
  .container {
    max-width: 1600px;
    padding: 70px 150px;
  }
}
@media (max-width: 960px) {
  .imgTopo .titleTop {
    top: 85%;
    left: 25px;
  }
  .imgTopo h1 {
    font-size: 2rem;
  }
  .imgTopo span {
    font-size: 1.2rem;
  }
}
@media (max-width: 540px) {
  .imgTopo .titleTop {
    top: 85%;
  }
  .imgTopo h1 {
    font-size: 1.5rem;
  }
  .imgTopo span {
    font-size: 0.9rem;
  }
  .about .aboutInfo-container {
    gap: 35px;
  }
  .about .aboutInfo-container .about-col2 .listSobre {
    flex-direction: column;
    align-items: flex-start;
  }
}
.skillsConatiner {
  background-color: #dddddd;
}
.skillsConatiner .skills {
  display: flex;
  flex-direction: column;
}
.skillsConatiner .skills .load--conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
}
.skillsConatiner .skills .load--conatiner .load-col1, .skillsConatiner .skills .load--conatiner .load-col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item, .skillsConatiner .skills .load--conatiner .load-col2 .load-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item :nth-child(1), .skillsConatiner .skills .load--conatiner .load-col2 .load-item :nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #292f37;
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 3px;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load {
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: #c4c4c4;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .load-color, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .load-color {
  background-color: #00c9d2;
  height: 10px;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-1, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-1 {
  width: 90%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-2, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-2 {
  width: 80%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-3, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-3 {
  width: 80%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-4, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-4 {
  width: 60%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-5, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-5 {
  width: 50%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-6, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-6 {
  width: 50%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-7, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-7 {
  width: 70%;
}
.skillsConatiner .skills .load--conatiner .load-col1 .load-item .load .item-8, .skillsConatiner .skills .load--conatiner .load-col2 .load-item .load .item-8 {
  width: 40%;
}
.skillsConatiner .skills .load--conatiner .load-col2 {
  flex: 1;
}

@media (max-width: 540px) {
  .skillsConatiner .skills .load--conatiner {
    flex-direction: column;
  }
}
body {
  font-family: "poppins", serif;
  background-color: #fff;
  font-style: normal;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1rem;
}

main {
  background-color: #fff;
  width: calc(100vw - 280px);
  margin-left: 280px;
  top: 0;
}

.containerGeral {
  display: flex;
  flex-direction: row;
}

.hamburguerMenu {
  display: none;
}

@media (max-width: 960px) {
  main {
    width: 100vw;
    margin-left: 0px;
  }
  .containerGeral .hamburguerMenu {
    position: fixed;
    top: 10px;
    right: 15px;
    color: #00c9d2;
    display: block;
    font-size: 1.8rem;
    z-index: 999;
  }
  .containerGeral .hamburguerMenu i {
    cursor: pointer;
  }
  .containerGeral .hamburguerMenu .fa-xmark {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */