* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../assets/color";
@import "../assets/menuLateral";
@import "../assets/about";
@import "../assets/skills";
@import "../assets/qualificacao";
@import "../assets/portifolio";
@import "../assets/contact";

html{ 
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", serif;
  background-color: $primary-light;
  font-style: normal;
  overflow-x: hidden;

  display: flex;
  justify-content: center;

  scrollbar-color: $tertiary-colorLight;
} 



// Reset CSS

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1rem;
}


// main 
main {
  background-color: $primary-light;
  width: calc(100vw - 280px);
  margin-left: 280px;
  top: 0;

}
.hamburguerMenu{
  display: none;
}

.containerGeral {
  display: flex;
  flex-direction: row;
}


// Media Queries 960px 
@media (max-width: 960px) {
  main {
    width: 100vw;
    margin-left: 0px;
  }
  .containerGeral {
    .hamburguerMenu {
      position: fixed;
      top: 10px;
      right: 15px;
      color: $tertiary-colorLight;
      font-size: 1.8rem;
      z-index: 999;
      display: block;
      i {
        cursor: pointer;
      }
      .fa-bars{
        display: block;
      }
      .fa-xmark{
        display: none;
      }
      .fa-bars.menuToggle{
        display: none;
      }
      .fa-xmark.menuToggle{
        display: block;
      }
       
    }
  }
}

// Estilizando o scroll do menu e da página
::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-thumb{
  background-color: #0b1624;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #0b1829;
}

// Btn scroll ir para o topo da página
.btnScroll-topo{
  width: 35px;
  height: 35px;  
  background-color: rgba(71, 61, 61, 0.562); 
  cursor: pointer;  
  position: fixed;
  right: 40px;
  bottom: 5vh;
  z-index: 999;

  display: none;
  justify-content: center;
  align-items: center;
  span{
    font-size: 1.2rem;
    color: #fff;
  }
}


