.portifolio-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .port-titles {
        width: 100%;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;

        span {
            .link{
                font-size: 1rem;
            }
        }
    }

    .link {
        color: $gray-dark;
        transition: 0.5s;
        &:hover {
            color: $tertiary-colorLight;
        }
    }

    .port-galery-container {
        width: 100%;
        display: none;
        justify-content:center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        .galery-item {
            display: inline-block;
            position: relative;
            flex: 1;
            min-width: 300px;
            max-width: 400px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

            img {
                display: block;
                width: 100%;
            }

            .item-text {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.769);
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;

                span {
                    color: $primary-light;

                    &:first-child {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.5rem;
                        cursor: pointer;
                        z-index: 99;

                        a {
                            color: $primary-light;
                        }

                    }

                    &:nth-child(2) {
                        position: absolute;
                        left: 50%;
                        top: 75%;
                        transform: translateX(-50%);
                        font-size: 0.9rem;
                        z-index: 99;
                        // width: 350px;
                    }

                }

            }

            &:hover .item-text {
                opacity: 1;
            }
        }
    }
}



// Medias Querys



@media(max-width: 576px) {
    .portifolio-container {
        .port-galery-container {
            .galery-item {
                min-width: 330px;
                max-width: 330px;
            }
        }

        .port-titles{
            gap: 12px;
            align-items: center;
            
            span{
               .link{
                font-size: 0.8rem;
               }
            }
        }
        .link {
            color: $gray-dark;
            transition: 0.5s;
            &:hover {
                color: $tertiary-colorLight;
            }
        }
    }
}

@media(max-width: 768px) {
    .portifolio-container {
        .port-galery-container {
            justify-content: center;

            .galery-item {
                min-width: 330px;
                max-width: 330px;
            }
        }
    }
}

@media(max-width: 992px) {
    .portifolio-container {
        .port-galery-container {
            justify-content: center;

            .galery-item {
                min-width: 300px;
                max-width: 400px;
                flex: 1;
            }
        }
    }
}


@media(min-width: 1600px) {

    .portifolio-container {
        .port-galery-container {

            .galery-item {
                min-width:330px;
                max-width:400px;
            }
        }
    }

}