.portifolio {
    
  .portifolio-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .port-titles {
      width: 100%;
      padding-bottom: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;

      span {
        .link {
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }

    .link {
      color: $gray-dark;
      transition: color 0.3s ease;

      &.active {
        color: $tertiary-colorLight;
      }

      &:hover {
        color: $tertiary-colorLight;
      }
    }

    .port-galery-container {
      width: 100%;
      display: none;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      .galery-item {
        display: inline-block;
        position: relative;
        flex: 1;
        padding: 5px;
        min-width: 300px;
        max-width: 400px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
        }

        .item-text {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 97%;
          height: 97%;
          background: rgba(0, 0, 0, 0.769);
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.5s ease-in-out;

          span {
            color: $primary-light;

            &:first-child {
              position: absolute;
              left: 50%;
              top: 50%;
              width: 100%;
              text-align: center;
              transform: translate(-50%, -50%);
              font-size: 1.5rem;
              cursor: pointer;
              z-index: 99;

              a {
                color: $primary-light;
              }
            }

            &:nth-child(2) {
              position: absolute;
              left: 55%;
              top: 75%;
              width: 100%;
              transform: translateX(-50%);
              font-size: 0.9rem;
              z-index: 99;
              // width: 350px;
            }
          }
        }

        &:hover .item-text {
          opacity: 1;
        }
      }
    }
  }
}

// Medias Querys

@media (max-width: 576px) {
  .portifolio-container {
    .port-galery-container {
      .galery-item {
        min-width: 330px;
        max-width: 330px;
      }
    }

    .port-titles {
      gap: 10px !important;
      align-items: center;
      justify-content: space-between;
      span {
          a{
            font-size: 0.9rem !important;
          }
      }
    }

    .link {
      color: $gray-dark;
      transition: 0.5s;

      &:hover {
        color: $tertiary-colorLight;
      }
    }
  }
}

@media (max-width: 768px) {
  .portifolio-container {
    .port-galery-container {
      justify-content: center;

      .galery-item {
        min-width: 330px;
        max-width: 330px;
      }
    }
  }
}

@media (max-width: 992px) {
  .portifolio-container {
    .port-galery-container {
      justify-content: center;

      .galery-item {
        min-width: 300px;
        max-width: 400px;
        flex: 1;
      }
    }
  }
}

@media (min-width: 1600px) {
  .portifolio-container {
    .port-galery-container {
      .galery-item {
        min-width: 330px;
        max-width: 400px;
      }
    }
  }
}
