// Estilização da seção de habilidades / skills 
.skillsConatiner{
    background-color: $primary-gray;

    .skills{
        display: flex;
        flex-direction: column;

        .load--conatiner{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 35px;
            .load-col1, .load-col2{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .load-item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    :nth-child(1){
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        color: $gray-dark;
                        font-size: 0.9rem;
                        font-weight: 600;
                        padding-bottom: 3px;
                    }
                    .load{
                        width: 100%;
                        border-radius: 2px;
                        border: none;
                        background-color: #c4c4c4;
                        .load-color{
                            background-color: $tertiary-colorLight;
                            height: 10px;
                        }
                        .item-1{
                            width: 90%;
                        }

                        .item-2{
                            width: 80%;
                        }
                        .item-3{
                            width: 80%;
                        }
                        .item-4{
                            width: 60%;
                        }
                        .item-5{
                            width: 50%;
                        }
                        .item-6{
                            width: 50%;
                        }
                        .item-7{
                            width: 70%;
                        }
                        .item-8{
                            width: 40%;
                        }
                    }
                }
            }
            .load-col2{
                flex: 1;
            }
        }
    }
}

// Media Query 540px

@media (max-width:540px){
    .skillsConatiner{
        .skills{
            .load--conatiner{
                flex-direction: column;
            }
        }
    }
}